body {
    font-family: Georgia;
    font-size: 16px;
    margin: 0 auto;   /* center content */
    max-width: 800px; /* limit width */
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
  }
#header{
    text-align:  center;
    margin-bottom:32px;
}
#footer{
    text-align:  center;
}
p{
    margin-bottom:12px;
}
h1{
    font-weight:400;
    margin bottom:0px;
    font-size: 36px;
}
h2{
    font-weight:400;
    margin bottom:8px;
    font-size: 32px;
    border-bottom: 1px solid #808080;
}
h3{
    font-weight:400;
    margin bottom:12px;
    font-size:20px;
}
